parameters:
    level: 8
    paths:
        - src
    checkMissingIterableValueType: false
    ignoreErrors:
        - '#default#'
        - '#deprecated#'
        - '#empty#'
        - '#final#'
        - '#isset#'
        - '#typehint#'
